.pagination-type-change.clearfix
  = form_tag url_for(action: :change, controller: :pagination), class: 'pull-right' do
    .btn-group
      - default_classes = %w(btn btn-default)
      - default_classes.push 'active' if pagination_type == :pages
      = button_tag 'Pages', name: :pages, class: default_classes

      - default_classes = %w(btn btn-default)
      - default_classes.push 'active' if pagination_type == :infinite
      = button_tag 'Infinite', name: :infinite, class: default_classes
