= render 'pagination/change_form'

%table.pagination-wrapper{class: html_class}
  - if defined? header and !header.blank? and header.respond_to? :each
    %thead
      %tr
        - header.each do |cell|
          %th
            = cell
  %tbody.content
    - collection.each do |element|
      %tr
        - block.call(element).each do |cell|
          %td
            = cell

  %tr
    %td
      = pagination_links({collection: collection}, paginator_options)