= render 'pagination/change_form'

%ul.pagination-wrapper.content{class: html_class}
  - collection.each do |element|
    %li
      = block.call element

  = pagination_links({collection: collection}, paginator_options)