%li.mark-item.btn-group{:class => "base-pad #{'marked' unless mark.blank?} #{mark_type.to_s.sub('_', '-')}"}
  - if partial_exists?("marks/forms/#{mark_form_partial(mark_type)}")
    - partial = "marks/forms/#{mark_form_partial(mark_type)}"
  - else
    - partial = 'marks/forms/mark'
  = render partial, object: object, mark_type: mark_type, mark: mark, count: count