-# Count marks for current object.
- marks_amounts = Mark.object_marks_amounts object

-# Find marks of current user on current object.
- marks = Mark.object_marks(object).user_marks(current_user).where(mark_type: marks_amounts.keys).to_a
- unless marks_amounts.blank?
  %ul.marks.btn-toolbar.pull-right
    - marks_amounts.each_pair do |mark_type, count|
      - mark = marks.detect { |v| v.mark_type.to_sym == mark_type.to_sym }
      = render 'marks/mark_list_item', object: object, mark_type: mark_type, mark: mark, count: count