.blog.entity
  %h3= link_to_unless_current blog.title, blog if defined? show_title and show_title
  %p= blog.user.email
  %p.description.field-text
    - text = (defined? truncate_length) ? HTML_Truncator.truncate(blog.description, truncate_length) : blog.description
    = raw text
  - links = []
  - links.push(link_to_unless_current('back', blogs_path, title: 'Back to the blogs list') {})
  - links.push(link_to 'create new article', new_article_path(blog_id: blog.id), title: 'Click to add new article to this blog') if can? :update, blog
  = render partial: 'application/action_links', locals: {object: blog, links: links}
