= form_for @blog do |f|
  = render partial: 'validation_errors', locals: {errors: @blog.errors}
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :description
    = f.trumbowyg_area :description
  = f.submit nil, class: 'pull-right'
