= form_for(resource, as: resource_name, url: profile_image_path, html: { method: :post, class: 'autosubmit profile-image-form' }, :format => 'js', remote: true) do |f|
  = user_avatar resource
  .glyphicon.glyphicon-pencil.editable
  %ul.list-inline.actions
    %li{title: 'Click to upload new avatar'}
      = f.file_field :avatar, data: {filestyle_badge: false, filestyle_button_text: ''}
    %li{title: 'Click to remove your avatar'}
      = f.button :remove, name: :remove do
        %span.glyphicon.glyphicon-remove