- page_h1 "Edit #{resource.username} profile"

.row
  .col-lg-3
    = render partial: 'devise/registrations/profile_image_form', locals: {resource: resource}
  .col-lg-9
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :username
        = f.text_field :username, autofocus: true
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :email
        = f.email_field :email
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        %i (leave blank if you don't want to change it)
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off"
      .field
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        = f.password_field :current_password, autocomplete: "off"
      .actions
        = f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: %w(btn btn-danger)}
= link_to "Back", :back
