.comment
  .comment-body.panel.panel-default.panel-margin
    .panel-heading
      - if comment.user.blank?
        %strong.name
          %big= comment.name
      - else
        = render partial: 'users/author', locals: {object: comment.user, style: :small}
      = link_to('№' + comment.number, comment, class: %w(to-comment pull-right))
    .panel-body
      %p
        = comment.text
      - links = []
      - # Show link back to the commentable parent page if it is main comment on the page.
      - if comment.id.to_s == params[:id].to_s and 'comments' == params[:controller]
        - links.push link_to('back', url_for(comment.commentable))
      - links.push link_to('reply', new_comment_reply(comment), title: 'Click to add a reply on this comment', remote: true, format: :html, class: 'get-comment-form')
      = render partial: 'application/action_links', locals: {object: comment, links: links}
      = render partial: 'marks/object_marks', locals: {object: comment}
  %ul.replies
    - comment.comments.each do |reply|
      %li
        = render partial: 'comments/comment', object: reply
