- paginator_options = {controller: 'comments', action: 'index', "#{object.class.to_s.downcase}_id".to_sym => object.id}
= pagination_items comments, :ul, {html_class: %w(comments-list list-unstyled), header: ['Header']}, paginator_options do |comment|
    - render 'comments/comment', comment: comment