- target = params[:action] == 'edit' ? @comment : [@comment.commentable, @comment]
- tail ||= false
- form_classes = %w(panel panel-default)
- form_classes.push('tailed') if tail
= form_for target, html: { class: form_classes, role: 'form' }, remote: true do |f|
  - if tail
    .tail.top

  .panel-heading
    .row
      - if current_user.blank? or (@comment.user.blank? and !@comment.new_record?)
        .field.col-lg-6.col-sm-12
          = f.label :name
          = f.text_field :name
        .field.col-lg-6.col-sm-12
          = f.label :email
          = f.text_field :email
      - else
        .col-lg-12
          = render partial: 'users/author', locals: {object: current_user, style: :small}
  .panel-body
    .row
      - unless @comment.errors.blank?
        .col-lg-12
          = render partial: 'validation_errors', locals: {errors: @comment.errors}
      .field.col-lg-12
        = f.label :text
        = f.text_area :text

  .actions.panel-footer.clearfix
    = f.submit nil, class: 'pull-right'
