- if request.xhr?
  = render partial: 'form', locals: {tail: true}
- else
  - if @commentable.respond_to? :title
    - page_h1 "New comment for #{@commentable.title}"
  - else
    - page_h1 'New comment'

  .row
    = render 'form'

    %ul.links.list-inline.pull-left.row
      = link_to 'back', url_for(@commentable)
