- if request.xhr?
  = render partial: 'form', locals: {tail: true}
- else
  = page_h1 "New reply for comment №#{@commentable.number}"

  .row
    = render 'form'

    %ul.links.list-inline.pull-left.row
      = link_to 'back to comment', url_for(@commentable)
