@mixin mark-colors($color) {
  .value {
    color: darken($color, 10%);
  }

  button {
    color: $color;

    &:hover {
      color: darken($color, 10%);
    }

    &.active,
    &.active:hover {
      color: darken($color, 15%);
    }

    &:focus,
    &.active:focus {
      color: darken($color, 35%);
    }
  }
}