@import 'marks';

@function opposite-direction($direction) {
  @if($direction == top) {
    @return bottom
  } @else if($direction == bottom) {
    @return top;
  } @else if($direction == left) {
    @return right;
  } @else if($direction == right) {
    @return left;
  }
}

@mixin translate-through($direction, $value) {
  @if($direction == top) {
    @include translate(0, -$value)
  } @else if($direction == bottom) {
    @include translate(0, $value)
  } @else if($direction == left) {
    @include translate(-$value, 0)
  } @else if($direction == right) {
    @include translate($value, 0)
  }
}