.article.entity.row
  - if defined? show_title and show_title
    %h3= link_to_unless_current article.title, article
  %small= render 'tags/list', tags: article.tags

  -# Article image.
  = render 'articles/article_image', article: article, wrapper_class: 'center-block'

  .description.field-text
    = raw article.text
  - links = []
  - links.push(link_to_unless_current('back', article.blog, title: "Back to the #{article.blog.title}") {})
  - links.push(link_to 'add a comment', new_article_comment_path(article), title: "Click to add a comment to #{article.title}", remote: true, format: :html, class: 'get-comment-form')
  .actions.clearfix
    = render 'application/action_links', object: article, links: links
    = render 'marks/object_marks', object: article

  .comments
    = render 'comments/comments', comments: article.comments.page(params[:page]), object: article