- version ||= 'default'
- if article.image.present?
  .article-image.clearfix{class: "#{wrapper_class if defined? wrapper_class}"}
    - url = article.image.respond_to?(version) ? article.image.send(version).url : article.image.url
    = image_tag url, class: 'center-block'