.row.articles
  - paginator_options = {controller: 'articles', action: 'index', blog_id: blog.id}
  = pagination_items articles, :ul, {html_class: %w(articles-list list-unstyled), header: ['Header']}, paginator_options do |article|
    - render 'articles/teaser', article: article