= form_for @article do |f|
  = render partial: 'validation_errors', locals: {errors: @article.errors}
  .field
    - blogs_options = []
    - @user_blogs.each { |blog| blogs_options.push [blog.title, blog.id] }
    = f.label :blog
    = f.select :blog, blogs_options, selected: @article.blog_id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :text
    = f.trumbowyg_area :text
  .field
    = f.label :tags
    - tags = Tag.allowed_for_user(current_user)
    - unless tags.blank?
      = f.select :tag_ids, options_from_collection_for_select(tags, :id, :title, @article.tags.map { |t| t.id }), {}, { :multiple => true, :size => 5 }
    - else
      %div
        There is no enabled tags now.
    - if can? :create, Tag
      .create-tag
        = link_to 'create tag', new_tag_path, target: :blank
  .actions
    = f.submit nil, class: 'pull-right'