.panel.panel-default.panel-margin.article.teaser
  .panel-heading
    = link_to article.title, article_path(article), class: 'lead'
  .panel-body
    %small= render 'tags/list', tags: article.tags

    -# Article image.
    = render 'articles/article_image', article: article, wrapper_class: 'pull-left', version: 'teaser'

    = raw HTML_Truncator.truncate(article.text, 100)
  .panel-footer.clearfix
    .pull-left
      = link_to article, class: 'base-pad comments-counter' do
        %span.glyphicon.glyphicon-comment
        = article.comments.count
    = render 'marks/object_marks', object: article