= page_h1 'New article'

.row
  = render 'form'
  - if params.include? :blog_id
    = link_to 'back', blog_path(params[:blog_id]), title: "Back to the #{@blog.title}"
  - else
    = link_to 'back', blogs_path, title: 'Back to the blogs list'