- page_h1 "#{@user.username} profile"

.profile.row
  .col-lg-3
    .avatar
      = user_avatar @user
    %hr
    %h3
      - unless @user.name.blank?
        = @user.name
        %br
      %small= @user.username
  .col-lg-9
    .user-info

    - if @user.blogs.any?
      .blogs
        %h4= 'Blogs'
        %ul
          - @user.blogs.each do |blog|
            %li
              = link_to blog.title, blog

%ul.actions.list-unstyled.list-inline
  %li
    = link_to 'back', root_path
  %li
    = link_to 'edit',  edit_user_registration_path