.btn-group{class: html_class}
  - if tag.approved?
    = button_to url_for(action: :disapprove, id: tag.id), method: :put, class: 'btn btn-default btn-sm' do
      .glyphicon.glyphicon-remove-sign
      Disapprove
  - else
    = button_to url_for(action: :approve, id: tag.id), method: :put, class: 'btn btn-default btn-sm' do
      .glyphicon.glyphicon-ok-sign
      Approve

  = button_to url_for(action: :edit, id: tag.id), method: :get, class: 'btn btn-default btn-sm' do
    .glyphicon.glyphicon-pencil
    Edit

  = button_to url_for(action: :destroy, id: tag.id), method: :delete, class: 'btn btn-default btn-sm' do
    .glyphicon.glyphicon-trash
    Remove