= form_for tag do |f|
  .field.form-group
    = f.label :title
    = f.text_field :title
  - if can? :approve, tag
    .field.form-group
      = f.check_box :status
      = f.label :approved

  .actions
    = f.submit 'Save'