- page_h1 'Tags'

.row
  - if @tags.present?
    %ul.list-group
      - @tags.each do |tag|
        %li.list-group-item.clearfix
          %a.pull-left{ href: url_for(tag)}
            %span.badge
              %span.glyphicon.glyphicon-tags
              = tag.taggable.count

            %span.title
              = tag.title

          - unless tag.approved?
            &nbsp;
            %small.text-muted
              %span.glyphicon.glyphicon-alert
              Tag is not approved yet

          - if can? :manage, Tag
            = render 'actions_forms', tag: tag, html_class: 'pull-right'
  - else
    .alert.alert-info
      There is no tags yet.
  = link_to 'create new tag', new_tag_path