- page_h1 "#{@tag.title} tag nodes"

.row
  - if @taggables.present?
    - @taggables.each do |taggable|
      - namespace = taggable.class.to_s.downcase
      - partial = "#{namespace}s/teaser"
      = render partial, namespace.to_sym => taggable rescue nil
  - else
    .alert.alert-info
      Nothing is marked with selected tag.