.modal-content
  .modal-header
    %button.close{type: "button", data: {dismiss: "modal"}, aria_label: "Close"}
      %span{aria_hidden: "true"}
        &times;
    %h4.modal-title
      -# It doesn't work with symbol parameter for yield.
      = yield 'header'
  .modal-body
    = yield 'body'

  - footer = yield 'footer'
  - unless footer.blank?
    .modal-footer
      = footer