- modal_class ||= []
- data ||= []
- name ||= nil
- id ||= nil
- modal_class.push(name) unless name.blank?
.modal.fade{tabindex: "-1", role: "dialog", class: modal_class, data: data, name: name, id: id}
  .modal-dialog
    = render layout: 'application/modal/modal_content' do |region|
      = yield region