- button_classes ||= []
- mark_type ||= mark.mark_type unless mark.blank?

- mark_classes ||= []
= form_tag url_for(action: :handle, controller: :marks, mark_type: mark_type), class: mark_classes, remote: true do
  -# Set hidden fields for controller action.
  = hidden_field_tag :markable_type, object.class.to_s
  = hidden_field_tag :markable_id, object.id
  - unless mark.blank?
    = hidden_field_tag :id, mark.id

  .btn-group
    - value = (mark.present? and mark.clicked_button.present?) ? Mark.mark_properties(mark_type, :buttons, mark.clicked_button, :value) : 0
    - Mark.mark_properties(mark_type, :buttons).each_pair do |button, props|
      - classes = [button.to_s] + button_classes
      - classes.push(props[:button_class]) if props.include? :button_class
      - classes.push('active') if !mark.blank? and props[:value] <= value

      - tooltip = props.include?(:tooltip) ? props[:tooltip].to_s : button.to_s
      - tooltip = 'Click here to unset' if !mark.blank? and mark.clicked_button == button.to_s

      = button_tag class: classes, name: button.to_s, title: tooltip do
        .glyphicon.glyphicon-star

= render 'marks/mark_title', count: count, title: Mark.mark_properties(mark_type, :title)