- button_classes ||= []
- mark_type ||= mark.mark_type unless mark.blank?

- mark_classes ||= []
= form_tag url_for(action: :handle, controller: :marks, mark_type: mark_type), class: mark_classes, remote: true do
  -# Set hidden fields for controller action.
  = hidden_field_tag :markable_type, object.class.to_s
  = hidden_field_tag :markable_id, object.id
  - unless mark.blank?
    = hidden_field_tag :id, mark.id

  - button = :add
  - props = Mark.mark_properties(mark_type, :buttons, button)
  - classes = [button.to_s] + button_classes
  - classes.push(props[:button_class]) if props.include? :button_class
  - classes.push('active') if !mark.blank? and mark.clicked_button == button.to_s
  - tooltip = mark.present? ? 'Click here to unset' : 'Like'

  = button_tag class: classes, name: button.to_s, title: tooltip do
    .glyphicon.glyphicon-heart
    = count