- button_classes ||= []
- mark_type ||= mark.mark_type unless mark.blank?

- value_place = Mark.mark_properties(mark_type, :value_place) || :before
- title = Mark.mark_properties(mark_type, :title)

-# Display mark title if it is present and should be displayed before the form.
= render 'marks/mark_title', count: count, title: Mark.mark_properties(mark_type, :title) if title.present? and value_place == :before

- mark_classes ||= []
= form_tag url_for(action: :handle, controller: :marks, mark_type: mark_type), class: mark_classes, remote: true do
  -# Set hidden fields for controller action.
  = hidden_field_tag :markable_type, object.class.to_s
  = hidden_field_tag :markable_id, object.id
  - unless mark.blank?
    = hidden_field_tag :id, mark.id

  .btn-group
    - Mark.mark_properties(mark_type, :buttons).each_pair do |button, props|
      - classes = [button.to_s] + button_classes
      - classes.push(props[:button_class]) if props.include? :button_class
      - classes.push('active') if !mark.blank? and mark.clicked_button == button.to_s

      - tooltip = props.include?(:tooltip) ? props[:tooltip].to_s : button.to_s

      = button_tag class: classes, name: button.to_s, title: tooltip do
        - if props.include? :icon
          .glyphicon{ class: "glyphicon-#{props[:icon]}" }
        - if value_place == button
          = props[:title].to_s
          = count

-# Display mark title if it is present and should be displayed after the form.
= render 'marks/mark_title', count: count, title: Mark.mark_properties(mark_type, :title) if title.present? and value_place == :after