//This styles allows to use btn-groups with group of form rendered by button_to rails helper.
.btn-group > form {
  display: inline;
  &:not(:last-child):not(.dropdown-toggle) > .btn {
    @include border-right-radius(0);
  }

  &:last-child:not(:first-child) > .btn,
  &:not(:first-child) .dropdown-toggle {
    @include border-left-radius(0);
  }
}

.btn-group > form + form {
  margin-left: -1px;
}