.collapsable {
  &.collapsed {
    .toggable {
      display: none;
    }

    .show-all .icon {
      @extend .glyphicon;
      &:before {
        @extend .glyphicon-chevron-down:before;
      }
    }
  }

  .show-all {
    cursor: pointer;
  }

  .show-all .icon {
    @extend .glyphicon;
    &:before {
      @extend .glyphicon-chevron-up:before;
    }
  }
}
