$mob-menu-width: 200px;
$mob-menu-transition-duration: 150ms;

@media (max-width: $screen-xs-max) {
  .main-menu {
    position: fixed;
    padding-top: $header-height;
    width: $mob-menu-width;
    overflow-x: hidden;
    background-color: #5a5a5a;
    top: 0;
    bottom: 0;
    left: -$mob-menu-width;
    transition: $mob-menu-transition-duration;

    a {
      color: #fff;
    }

    li {
      width: 100%;

      & + li {
        margin-left: 0;
      }

      &.open > a {
        color: #000;
      }
    }

    .dropdown-menu {
      position: relative;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      float: none;
      background: transparent;

      a {
        color: #999;
      }
    }
  }

  body {
    overflow-x: hidden;
    transition: $mob-menu-transition-duration;
    position: relative;
    left: 0;

    &.opened-menu {
      left: $mob-menu-width;

      .main-menu {
        left: 0;
      }
    }

    & > .main-menu {
      li > a {
        border-radius: 0;

        &:hover {
          color: black;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .open-menu {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-item .text {
    display: none;
  }
}