.tailed {
  position: relative;

  .tail,
  .tail:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: $tail-border-width solid transparent;
  }

  @each $location in $tail-locations {
    // Get opposite location value.
    // Ex.: opposite-direction(top) = bottom
    $opposite: opposite-direction($location);
    .#{$location} {
      &.tail,
      &.tail:after {
        border-#{$location}: 0;
      }

      &.tail {
        #{$location}: 0;
        border-#{$opposite}-color: #ccc;
        @include translate-through($location, 100%);
      }

      &.tail:after {
        #{$location}: 1px;
        content: '';
        border-#{$opposite}-color: #F5F5F5;
        @if index(left right, $location) {
          margin-top: -$tail-border-width;
        } @else {
          margin-left: -$tail-border-width;
        }
      }
    }
  }
}