/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "variables/bootstrap-override";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables/variables";
@import "mixins/mixins";
@import "components/components";
@import "peek";
@import "peek/views/performance_bar";
@import "trumbowyg/trumbowyg";
@import "marks";
@import "comment";
@import "users";
@import "articles";
@import "tag";
@import "pagination";

#peek {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

// Page header styles.
#page-header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background: #fff;
  @include box-shadow(0 3px 15px -8px rgba(0, 0, 0, 0.3));
  transition: $header-transition-duration;

  .header-content {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 100%;
    transition: $header-transition-duration;

    & > .row {
      font-size: 0;
    }
    .nav > li > a {
      padding: 6px 15px;
      transition: $header-transition-duration;
    }
  }

  .header-item {
    text-align: left;
    padding: 6px 0;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: $font-size-base;
  }

  .user-welcome {
    text-align: right;
  }
}

.scrolled #page-header {
  height: $header-scrolled-height;
  @include box-shadow(0 3px 15px -5px rgba(0, 0, 0, 0.5));

  .header-content {
    padding-top: 2px;
    padding-bottom: 2px;

    .nav > li > a {
      padding: 3px 15px;
    }

    .header-item {
      padding: 0;
    }
  }
}

// Set to zero page title horizontal padding.
.page-header.container {
  padding-right: 0;
  padding-left: 0;
}

#main {
  position: relative;
  z-index: 0;
  margin-top: $header-height + 15px;
  margin-bottom: 25px;

  #peek + & {
    margin-bottom: 60px;
  }
}

.trumbowyg-box.trumbowyg {
  width: 100%;
  border-radius: $input-border-radius;
  border-color: $input-border;

  .trumbowyg-editor {
    background-color: $input-bg;
  }
}

.field {
  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;
}

.field-text img {
  max-width: 100%;
}

textarea.form-control {
  min-width: 100%;
  max-width: 100%;
  min-height: 15 * $padding-large-vertical;
}

// Turbolinks progress bar.
.turbolinks-progress-bar {
  height: 3px;
  background-color: green;
  z-index: 10000;
  position: fixed;
  top: 0;
}

.base-pad {
  padding: $padding-base-vertical $padding-base-horizontal;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

//.dropdown-submenu:hover>.dropdown-menu {
//  display: block;
//}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

//.dropdown-submenu:hover>a:after {
//  border-left-color: #fff;
//}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}