// Place all the styles related to the articles controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
  .description img {
    @include center-block;
    margin-top: $padding-base-vertical * 2;
    margin-bottom: $padding-base-vertical * 2;
  }

  .comments-counter {
    display: inline-block;
    vertical-align: middle;
  }

  .article-image {
    margin-bottom: $padding-base-vertical;
    img {
      max-width: 100%;
    }
  }

  &.teaser .article-image {
    @media (min-width: $screen-xs-max) {
      margin-right: $padding-base-horizontal;
      max-width: 30%;
    }

    @media (max-width: $screen-xs-max - 1) {
      width: 100%;
    }
  }
}
