// Place all the styles related to the comment controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.replies {
  list-style: none;
}

.comment {
  .author {
    display: inline-block;
  }

  .panel-heading {
    line-height: $avatar-small-size;
  }
}

#new_comment {
  .tail.top {
    left: 23px;
  }
}