// Place all the styles related to the marks controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mark > form {
  display: inline-block;
}

.mark-item.like {
  @include mark-colors($like-color);
}

.mark-item.average-rating {
  @include mark-colors($average-rating-color);
}

.mark-item {
  @include mark-colors($mark-color);

  button {
    @include transition(200ms);
    background-color: transparent;
    border: none;

    &:focus,
    &.active:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &.hover.average-rating button {
    color: darken($average-rating-color, 15%);

    &:hover ~ button {
      color: $average-rating-color;
    }
  }
}