// Place all the styles related to the pagination controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination-type-change {
  margin-top: 1rem;
  margin-bottom: 1rem;
}