// Place all the styles related to the tag controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag {
  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;
  cursor: pointer;

  & a {
    color: $gray-light;
  }
}