// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image-form {
  width: 262px;
  height: 262px;
  overflow: hidden;
  position: relative;

  .actions {
    font-size: 0;
    padding: 5px;
    transition: $transition-duration;
    background-color: rgba(255, 255, 255, .8);
    @include translate(0, 0);

    li {
      vertical-align: top;
    }
  }

  .editable {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: rgba(0,0,0,.5);
    margin: $padding-base-vertical $padding-base-horizontal / 2;
    padding: $padding-base-vertical $padding-base-horizontal / 2;
    transition: $transition-duration;
  }

  &:hover {
    .editable {
      opacity: 0;
      visibility: hidden;
    }

    .actions {
      @include translate(0, -100%);
    }
  }
}

.author {
  img {
    margin-right: $padding-base-horizontal;
  }

  &:hover a {
    text-decoration: none;
  }
}
