= semantic_navigation config: :bootstrap, class: 'main-menu' do |n|
  - n.item 'Blogs', :blogs

  - if current_user
    - if current_user.blogs.count == 1
      - blog = current_user.blogs.first
      - n.item blog.title, blog_path(blog)
    - elsif current_user.blogs.count > 1
      - n.group 'My blogs' do
        - current_user.blogs.each do |blog|
          - n.item blog.title, blog_path(blog)

    - n.item 'Create blog', :new_blog