- if errors.any?
  .alert.alert-danger.tailed{role: 'alert'}
    %button.close{type: 'button', data: {dismiss: 'alert'}, aria_label: 'Close'}
      %span{aria_hidden: 'true'}
        &times;
    %h4
      = pluralize(errors.count, 'error')
      prohibited
      this article from being saved:
    %ul
      - errors.full_messages.each do |msg|
        %li= msg
