!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title
      - if content_for?(:title)
        = content_for(:title)
      - elsif content_for?(:h1)
        = content_for(:h1)
      - else
        BlogApplication
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'application/main_menu'
    %header#page-header.container-fluid
      .header-content.container
        .row
          .col-sm-2.col-xs-3.header-item
            = link_to '/', class: 'btn' do
              %span.glyphicon.glyphicon-home
              %span.text
                Home
          .col-sm-7.col-xs-3.header-item
            %a.open-menu.btn
              %span.glyphicon.glyphicon-menu-hamburger
              %span.text
                Menu
          .col-sm-3.col-xs-6.header-item
            .user-welcome
              - if user_signed_in?
                %span
                  Hello, #{link_to (current_user.name.blank? ? current_user.email : current_user.name), user_profile_path}.
                = link_to 'Log out', destroy_user_session_path, :method => :delete
              - else
                = link_to 'Log in', new_user_session_path
                or #{link_to 'register', new_user_registration_path}
    = render 'peek/bar'
    #main.container
      - if content_for?(:h1)
        %h1.page-header.container
          = content_for(:h1)
      #content{:class => 'container'}
        - alerts = alert
        - notices = notice
        - if !alerts.blank? or !notices.blank?
          .messages
            - unless alerts.blank?
              %p.alert.alert-danger= alert
            - unless notices.blank?
              %p.alert.alert-info= notice
        = yield
